<h1 class="section-title">liste celebrités:</h1>
<% @celebrities.each do |celebrity|  %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <%= image_tag celebrity.picture.url(:medium) %>
      <div class="caption">
        <h3><%= celebrity.name %></h3>
        <p><%= truncate(celebrity.description, :lenght => 60) %></p>
        <p><%= celebrity.source %></p>
        <p><a href="/celebrities/<%= celebrity.id %>" class="btn btn-primary" role="button">Info</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @celebrities %>
