<h1><%= @product.name %></h1>
<div class=container-image-show">
  <%= image_tag "smartphone.jpg", :class => "image-show" %>
</div>

<p><%= @product.description %></p>
<p><%= @product.version %></p>
<p><%= @product.price %></p>
