<!DOCTYPE html>
<html>
<head>
  <title>BrandGist</title>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
  <a class="navbar-brand" href="/" style="color:grey">BrandGist</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <%= search_form_for @q do |f| %>
      <%= f.label :name_start, "Name" %>
      <%= f.text_field :name_cont %>
      <%= f.submit %>
    <% end %>                  
    </div>
<a href="/celebrities/new" class="btn btn-primary btn-new" role="button">Ajouter celebrités</a>
  </div>
</nav>
                                                                            
<%= yield %>

</body>
</html>

